pkgbase = kodi-audioencoder-vorbis
	pkgdesc = kodi audioencoder addon for ogg/vorbis
	pkgver = 20150810.3a88875
	pkgrel = 1
	url = https://github.com/xbmc/audioencoder.vorbis
	arch = i686
	arch = x86_64
	groups = kodi-addons
	license = GPL
	makedepends = git
	makedepends = cmake
	depends = kodi
	source = kodi-audioencoder-vorbis::git://github.com/xbmc/audioencoder.vorbis.git
	sha256sums = SKIP

pkgname = kodi-audioencoder-vorbis

